@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: VeneerTwo;
    font-weight: normal;
    font-style: normal;
    src: url('/font/Two.ttf') format('truetype');
  }
}

/* Agrega estos estilos al CSS de tu proyecto */
#default-carousel .slick-prev,
#default-carousel .slick-next {
    top: 50%;
    transform: translateY(-50%);
}
#default-carousel .slick-prev {
    left: 0;
    display: none;
}
#default-carousel .slick-next {
    right: 0;
    display: none !important;
}
