@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: VeneerTwo;
    font-weight: normal;
    font-style: normal;
    src: url('/font/Two.ttf') format('truetype');
  }
}


